<div class="box-form">
    <p *ngIf="status !=  200">
        Register on the platform to create your Resume
    </p>      

    <div class="alert alert-success" *ngIf="status && status == 200">
        User registered successfully, <a [routerLink]="['/login']">Login here</a>
    </div>
    <div class="alert alert-danger" *ngIf="status && status == 400">
            Error creating new user: {{message}}.
    </div>
    
    <!--FORMULARIO DE REGISTRO-->
    <form class="basic-form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)"> 
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">

            <small *ngIf="!name.valid && name.touched" class="form-text text-muted">Invalid name</small>
        </div>
        <div class="form-group">
            <label for="surname">Last Name</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z- ]+">

            <small *ngIf="!surname.valid && surname.touched" class="form-text text-muted">Invalid Last name</small>
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">

            <small *ngIf="!email.valid && email.touched" class="form-text text-muted">Invalid Email</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control"#password="ngModel" [(ngModel)]="user.password" required>

            <small *ngIf="!password.valid && password.touched" class="form-text text-muted">Invalid Password</small>
        </div>

        <input type="submit" value="Register" class="form-text btn btn-primary" [disabled]="registerForm.invalid">
    </form>
</div>
<div class="loading">
    <h1>Sample resumes</h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>