
<div class="box-form">
    <p *ngIf="status !=  200">
        Login to the platform to create your resume.
    </p>      
    <div class="alert-danger alert col-md-6 mt-3" *ngIf="status == 400">
            Can not access. Please retry later.
    </div>
    
    <!--FORMULARIO DE REGISTRO-->
    <form class="basic-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"> 
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">

            <small *ngIf="!email.valid && email.touched" class="form-text text-muted">Invalid email</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>

            <small *ngIf="!password.valid && password.touched" class="form-text text-muted">Invalid password</small>
        </div>

        <input type="submit" value="Login" class="btn btn-primary" [disabled]="loginForm.invalid">
    </form>
</div>
<div class="loading">
    <h1>Sample resumes</h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>